body{
    background-color: lightskyblue; /* alterando cor de fundo do body  */
}

h1{
    text-align: center; /* centralizando texto tags h1 */
}

.p-azul{
    color: blue; /* alterando cor do texto */
}

img{
    width: 300px; /* Alterando largura da imagem */
    height: 200px;  /* Alterando altura da imagem*/
}

h2{
    font-size: 20px; /*Alterando tamanho da fonte*/
    background-color: rgb(202, 109, 214); /*Alterando fundo do texto*/
}
h3{
    color: rgb(38, 61, 35); /*Alterar cor do texto*/
    background-color: rgb(173, 167, 234);/*Alterar cor do fundo do texto*/
    font-size: 18px;/*Alterar tamanho da fonte*/
    text-align: right; /*Colocar texto no lado diretio da tela*/ 
}

/* seletro de class, pode ter vários, começa com .*/
.p-vermelho{
    color: red;
}

.p-vermelho:hover{            /*Hover altera as propriedades quando passa o mouse*/
    color: rgb(255, 255, 255);
    background-color:red
}

.p-amarelo{
    color: yellow;
}
#p-verde{ /*Seletor de id ÚNICO começa com #*/
    color: green;
}

.font-courier-new{
    font-family: 'Courier New', Courier, monospace;
}
.sombreado{
    /*Text-shadow colocando sombreado no texto eixo x, eixo y, esfumaçado, cor*/
    text-shadow: 1px 1px 1px gray;
}

.opacidade {
    background-color: green;
    opacity: 0.3; /*Nível de opacidade de todos os elementos*/}
.opacidade-rgba{
    background-color: rgba(0, 128, 0, 0.3); /*Opacidade do fundo*/
}
.fundo-imagem{
    height: 400px;
    /*Fundo do elemento com imagem*/
    background-image: url(../img/afolou.png);
    /*Esta propriedade "estica" a imagem pra todo o espaço*/
    background-size: cover;
}
.fundo-imagem-dinamica {
    height: 100px;
    background: url(https://source.unsplash.com/1720x2200?hdr,dogs);
}
.borda{
    /*Aplicando uma borda largura, tipo da borda e cor*/
    border: 2px solid red;
    /*Aplicando um arredondamento no elemento*/
    border-radius: 10px;
}


/*Imagens e textos com diferentes bordas*/
.borda{
    border: 1px solid black;
}

.inferior{
    border-bottom: 2px solid red;
}

.arredondada{
    border: 1px solid green;
    border-radius: 6px;
}

.esquerda{
    border-left: 4px solid blue;
    background-color: lightblue;
}

.pontilhado{
    border-top: 1px dotted blue;
}

/*Bordas diversificadas*/
.misturadas{
    border-top:  4px solid yellow;
    border-left: 4px double green;
    border-right: 4px dotted blue;
    border-bottom: 4px dashed red;
}

/*Imagem retangular com bordas igualmente redondas*/
.retangular{
    border-radius: 40px;
}

/*Ícone arredondado*/
.imagem-arredondada{
    border-radius: 200px;
}
/*Ícone arredondado com borda colorida*/
.borda-colorida{
    border-radius: 200px;
    background: linear-gradient(to right, magenta, lightblue, orange);
    padding: 9px;
}

/*Bordas diferentes*/
.bordas-diferentes{
    border-radius: 20% 5px 20% 5px;
}

/*Usando div*/
.div1{
    border: 1px solid black;
    background-color: lightcyan;
}

.div2{
    border: 7px dotted black;
    background-color: lightcoral;
    text-align: right;
}

.div-margin{
    background-color: cornflowerblue;
    margin: 20px;
}
.div-centralizada{
    background-color: darkmagenta;
    width: 150px; /*Definindo uma largura*/
    margin: 0 auto; /*Centralizando um elemento de bloco*/
}

.div-padding{
    background-color: green;
    padding: 20px /*Define um espaçamento interno do elemento*/;
}

.div-comp{
    background-color: lightpink;
    margin: 20px auto;
    border: 3px solid black;
    width: 150px;
    padding: auto;
}

.botao{
    background-color: blueviolet;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    border: 2px solid magenta;
}
.botao:hover{
    background-color: lightsalmon;
}